{% extends 'Admin/base.html.twig' %}

{% block title %}Ajout d'une année universitaire!{% endblock %}

{% block body %}

<h1>
    {{ include("Admin/partials/titre.html.twig", {'titre':' Ajout une  année universitaire'} ) }}
</h1>

<div class="card">
    <div class="card-body">
        <div class="card-title">
        </div><hr>
        {{ form_start(form)}}
        <div class="col-12">
            <div class="row">{{ form_row(form.nom) }}</div>
            <div class="row">{{ form_row(form.dateDeRentree) }}</div><br>
            <div class="row">{{ form_row(form.dateDeFin) }}</div>
        </div><br>
        <button class="btn btn-secondary">
            <i class="fas fa-plus"></i>
            Enregistrer</button>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}
