{% extends 'Admin/base.html.twig' %}

{% block title %}Partenaires index
{% endblock %}

{% block body %}
	<h1>
		{{ include("Admin/partials/titre.html.twig", {'titre':'Actualité'} ) }}
	</h1>
	<div class="card">
		<div class="card-title">
			<h2>
				<center>Gérer votre publication</center>
			</h2>
		</div>
		<div class="card-body">
			<div class="card-body">
				{{form_start(form)}}
				<div class="row g-4">
					<div class="col-md-6">
						{{ form_row(form.nom)}}
					</div>
					<div class="col-md-6">
						{{ form_row(form.description)}}
					</div>
				</div>
				<div class="row g-4">
					<div class="col-md-6">
						{{ form_row(form.datePublication)}}
					</div>
					<div class="col-md-6">
						{{ form_row(form.dateFinPublication)}}
					</div>
					<div class="col-md-6">
						{{ form_row(form.imageFile)}}
					</div>
				</div>
				<br>
				<button class="btn btn-sm btn-secondary mb-0">
					<i class="fas fa-plus"></i>
					Publié</button>
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}
