{% extends 'Admin/base.html.twig' %}

{% block title %}Hello UniteEnseignementController!{% endblock %}

{% block body %}
	<h1>
		{{ include("Admin/partials/titre.html.twig", {'titre':'Unités d\'enseignements'} ) }}
	</h1>
	<br>
	<div class="card">
		<div class="card-body">
			<div class="d-flex no-block align-items-center m-b-30"></div>
			<div class="table-responsive">
				<center>
					<h4 class="card-tille" style="font-size:30px; font-weight: bold;">Liste des unités d'enseignements</h4>
				</center>
				<table id="zero_config" class="table product-overview" width="100%">
					<thead>
						<tr style="color:black ;font-weight:bold; text-align:center">
							<td>Nom</td>
							<td>Niveau</td>
							<td>Semestres</td>
							<td>Crédit</td>
							<td>Action</td>
						</tr>
					</thead>
					<tbody>
                        {% for uniteEnseignement in unitesEnseignements %}
							<tr style="text-align: center">
								<td>{{ uniteEnseignement.nom }}</td>
								<td>
									{% for niveau in uniteEnseignement.niveau %}
										{{ niveau }}
									{% endfor %}
								</td>
								<td>
									{% for semestre in uniteEnseignement.semestre %}
										{{ semestre }} - 
									{% endfor %}
								</td>
								<td>{{ uniteEnseignement.credit }}</td>
								<td>
                                    <a href="{{ path('app_unite_enseignement_edit', {'id': uniteEnseignement.id}) }}" class="btn btn-primary">
										<i class="fas fa-edit"></i>
										edit</a>
									<form action="{{ path('app_unite_enseignement_delete', {id: uniteEnseignement.id}) }}" method="POST" style="display: inline-block">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uniteEnseignement.id) }}">
										<button class="btn btn-danger">
											<i class="fas fa-trash"></i>
											Supprimer</button>
									</form>
								</td>
							</tr>
                        {% endfor %}
					</tbody>
					<a href="#" alt="default" data-toggle="modal" data-target="#myModal" class="btn btn-secondary" style="float: right">
						<i class="fas fa-plus"></i>
						Ajouter un nouveau unité d'enseignement</a>
				</table>
			</div>
		</div>
	</div>
    <!-- Modal ajouter unité d'enseignement -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Ajout UE</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				{{ form_start(form)}}
				<div class="modal-body">
					{{form_row(form.nom)}}
					{{form_row(form.niveau)}}
					{{form_row(form.semestre)}}
					{{form_row(form.professeur)}}
					{{form_row(form.credit)}}
				</div>
				<div class="modal-footer">
					<button class="btn btn-success">Ajouter</button>
					<button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>

				</div>
				{{ form_end(form)}}
			</div>
		</div>
	</div>
	<!-- Fin du Modal ajouter unité d'enseignement -->

    
{% endblock %}
