{% extends 'Admin/base.html.twig' %}

{% block title %}Résultat d'examen Première session
{% endblock %}

{% block body %}
{{ include("Admin/partials/titre.html.twig", {'titre':'Liste des résultats'} ) }}
<div class="row">
	<div class="col-3"></div>
	<div class="col-3"></div>
	<div class="col-3"></div>
	<div class="col-3"><button class="btn btn-success" onclick="imprimerListe('liste')">Imprimer la liste</button></div>
</div>
<div id="liste">
{% for examen in examens %}
<h4><b>{{examen.nom}}</b></h4>
<center>
	<h4 class="card-tille" style="font-size:30px; font-weight: bold;">{{ niveau }}</h4>
</center>
<div class="card p-3">
	{% for semestre in semestres %}
	<h4><b>{{ semestre.nom }}</b></h4>
	<div class="card-body">
		<div class="d-flex no-block align-items-center m-b-30"></div>
		<div class="table-responsive">
			<table id="zero_config" class="table product-overview table-bordered" width="100%">
				<thead>
					<tr style="color:black ;font-weight:bold; text-align:center">
						<td>Etudiants</td>
						{# Les UEs du niveau sur l'entête du tableau #}
						{% for uniteEnseignement in semestre.uniteEnseignements %}
						<td>{{uniteEnseignement}}</td>
						{% endfor %}
						{# ############################# #}
						<td>Moyenne</td>
						<td>Verdicte</td>
					</tr>
				</thead>
				<tbody>
					{% for etudiant in etudiants %}
					{% set textColorMoyenne = "" %}
					<tr style="text-align: center">
						<td>{{etudiant}}</td>
						{# Récuperer les notes du semestre #}
						{% set notes = [] %}
						{% for examenNotes in examen.notes %}
						{% if examenNotes.etudiant is same as(etudiant) %}
						{% if semestre is same as(examenNotes.resultat.semestre) %}
						{% set notes = notes | merge([examenNotes]) %}
						{% endif %}
						{% endif %}
						{% endfor %}

						{# Pour chaque colonne d'UE #}
						{% for uniteEnseignement in semestre.uniteEnseignements %}
						{# Définir s'il existe des notes pour l'UE #}
						{% set noteExiste = false %}
						{% for note in notes %}
						{% if note.uniteEnseignement is same as(uniteEnseignement) %}
						{% set noteExiste = true %}
						{% endif %}
						{% endfor %}
						{# ############################# #}
						{# S'il existe des notes pour cet UE #}
						{% if noteExiste %}
						{% for note in notes %}
						{% if uniteEnseignement is same as(note.uniteEnseignement) %}
						{% if note.valeur < 10 %} {% set textColor="red" %} {% else %} {% set
							textColor="black" %} {% endif %} <td style="color : {{ textColor }}">
							{{note.valeur}}</td> {# Afficher la note #}
							{% endif %}
							{% endfor %}
							{% else %}
							<td style="color: red;">aucune</td>{# Si non, afficher 'n/a' #}
							{% endif %}
							{% endfor %}

							{% set totalNotes = 0 %}
							{% set moyenne = 0 %}
							{% set credit = semestre.uniteEnseignements | length %}

							{% if credit is same as(notes | length) %}
							{% for note in notes %}
							{% set totalNotes = totalNotes + note.valeur %}
							{% endfor %}
							{% set moyenne = totalNotes / credit %}
							{% if moyenne >= 10 %}
							{% set textColorMoyenne = "black" %}
							{% set verdict = "Validé" %}
							{% set className = "success" %}
							{% else %}
							{% set textColorMoyenne = "red" %}
							{% set verdict = "Non validé" %}
							{% set className = "danger" %}
							{% endif %}
							{% else %}
							{% set className = " disabled" %}
							{% set verdict = "Non disponible" %}
							{% set moyenne = "Non disponible" %}
							{% endif %}
							<td style="color : {{ textColorMoyenne }}; font-weight: bold">
								{{ moyenne | number_format(2) }}
							</td>
							<td>
								<a href="{{ path('app_resultat_afficher_admin', {'idEtudiant': etudiant.id}) }}"
									class='btn btn-{{className}}'>{{ verdict }}</a>
							</td>
					</tr>
					{% endfor %}
					<tr style="text-align: center">
						{% set resultats = [] %}
						<td></td>
						{% for resultatSemestre in semestre.resultats %}
						{% if resultatSemestre.examen is same as(examen) %}
						{% set resultats = resultats | merge([resultatSemestre]) %}
						{% endif %}
						{% endfor %}
						{% for uniteEnseignement in semestre.uniteEnseignements %}
						{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}
</div>
<script type="text/javascript">
	function imprimerListe(element) {
		var printContents = document.getElementById(element).innerHTML;
		var originalContents = document.body.innerHTML;
		document.body.innerHTML = printContents;
		window.print();
		document.body.innerHTML = originalContents;
	  }
</script>
{% endblock %}