{% extends 'Admin/base.html.twig' %}

{% block title %}Hello ProfesseurController!{% endblock %}

{% block body %}

<h1>
    {{ include("Admin/partials/titre.html.twig", {'titre':' Ajout professeur'} ) }}
</h1>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h1 style="color: rgb(84, 84, 221)">
                <center>Veuillez remplir tous les champs</center>
            </h1>
        </div>
        <hr>
        <h3>
            <center>
                <b>ISFPP</b>
            </center>
        </h3><hr>
        {{ form_start(form)}}
        <hr><h3>
            <center>
                <b>Information personnelle</b>
            </center>
        </h3><hr>
        <div class="row">
            <div class="col-6">{{ form_row(form.nom) }}</div>
            <div class="col-6">{{ form_row(form.prenoms) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_row(form.adresse) }}</div>
            <div class="col-6">{{ form_row(form.cin) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_row(form.tel) }}</div>
            <div class="col-6">{{ form_row(form.imageFile) }}</div>
        </div><br>
        <button class="btn btn-secondary">
            <i class="fas fa-plus"></i>
            Enregistrer</button>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}
